@{
    ViewData["Title"] = "RECENT BOOKINGS";
    <h1>Recent Bookings</h1>
    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
    <h2>Please add new booking or Wait for the booking to be accepted</h2>
    <br/>
    <div>
        <a asp-controller="Customer" asp-action="MenuPageCustomer">Menu page</a>
    </div>
}
