@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "ABOUT US";
    <html>
        <body>

            <h1>About Us</h1>
            <hr style="height:2px;border-width:0;color:gray;background-color:gray">

           <center>
            <img src="~/about us .jpg" height="400" width="500" />
        </center>
            <br />
        <style>
            div {
                text-align: justify;
            }
        </style>
            <p>
            We are India’s largest fully integrated logistics provider. We aim to build the operating system for commerce, through a combination of world-class infrastructure, logistics operations of the highest quality and cutting-edge engineering and technology capabilities. Our mission is to enable customers to operate flexible, reliable and resilient supply chains at the lowest costs. We provided supply chain solutions to a diverse base of over 26000 active customers such as e-commerce marketplaces, direct-to-consumer e-tailers and enterprises and SMEs across several verticals such as FMCG, consumer durables, consumer electronics, lifestyle, retail, automotive and manufacturing. This is achieved through high-quality logistics infrastructure and network engineering, a vast network of domestic and global partners and significant investments in automation, all of which are orchestrated by our self-developed logistics operating system that drive network synergies within and across our services and enhance our value proposition to customers.
            </p>
        </body>
    </html>
}
