@{
    ViewData["Title"] = "HOME PAGE";
}

<div class="text-center">
    <h1 class="display-4"><b>Welcome to RSM Delivery Services</b></h1>
    <hr style="height:2px;border-width:0;color:gray;background-color:gray">

    <center>
        <img src="~/delivery.png"/>
    </center>
</div>
<style>
    div{
        text-align:justify;
}
</style>
<p>
    Welcome to our delivery booking service page! We provide hassle-free and reliable delivery services for individuals and businesses alike. With our user-friendly interface, you can easily book deliveries in just a few clicks.
    Whether you need to send important documents or a package to a loved one, we have a range of delivery options to suit your needs.
    Our team of experienced drivers will ensure your package arrives at its destination safely and on time.
    We understand that security is a top priority for our customers, which is why we have implemented stringent safety measures to protect your package. You can trust us to handle your deliveries with care and confidentiality.
    Booking a delivery is simple and easy on our website. Just register and then enter your pickup and drop-off locations, package weight, and preferred delivery time.
    Our competitive pricing means you can enjoy affordable delivery services without compromising on quality. Plus, we offer flexible payment options to make the process even more convenient for you.
    Thank you for choosing our delivery booking service. We look forward to helping you deliver your package with ease and efficiency.
</p>