@{
    ViewData["Title"] = "PRIVACY POLICY";
}

<style>
    div {
        text-align: justify;
    }
</style>

<h1>Privacy Policy</h1>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">

<p>
    At RSM Delivery Services, we are committed to protecting your privacy and ensuring the confidentiality of your personal information. We have developed this Privacy Policy to inform you about our practices regarding the collection, use, and disclosure of your personal information in connection with our delivery booking services.
</p>
<br/>

<h4>Information we collect:</h4>
<p>
    We collect personal information that is necessary for us to provide our delivery booking services to you. This may include:
    Your name, age and contact information, including your phone number and email address.
    Your delivery address and any relevant delivery instructions. Information about your orders, including the products or services you purchase.
</p>
<br/>

<h4>How we use your information:</h4>
<p>
    We use your personal information to provide our delivery booking services to you, including processing your orders, facilitating delivery, and communicating with you about your orders or any issues that arise.
    We may also use your information for our own internal business purposes, such as analyzing customer preferences and behavior to improve our services, and to comply with any legal or regulatory requirements.
</p>
<br/>

<h4>
    Disclosure of your information:
</h4>
<p>
    We may share your personal information with third-party service providers who help us to provide our delivery booking services to you, such as payment processors and delivery companies. We will only share your information to the extent necessary for these service providers to perform their functions, and we require that they protect your information in accordance with this Privacy Policy.
    We may also disclose your personal information if we are required to do so by law, or if we believe that such disclosure is necessary to protect our rights or the safety of our customers or the public.
</p>
<br/>

<h4>Security of your information:</h4>
<p>
    We take the security of your personal information seriously and have implemented reasonable measures to protect it from unauthorized access, use, or disclosure. However, please be aware that no security measures are 100% effective, and we cannot guarantee the security of your information.
</p>
<br/>

<h4>Your choices:</h4>
<p>

    You can choose not to provide us with certain information, but this may prevent us from being able to provide our delivery booking services to you.You can also opt out of receiving marketing communications from us at any time by following the instructions in the communication or by contacting us directly.
</p>
<br/>

<h4>Changes to this privacy policy:</h4>
<p>
    We may update this Privacy Policy from time to time to reflect changes in our practices or legal requirements. We will post the updated Privacy Policy on our website and indicate the date it was last revised.
</p>
<br/>

<h4>Contact us:</h4>
<p>
If you have any questions or concerns about our privacy practices, please contact us at rsmdeliveryservices@gmail.com.
</p>
